input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}


.mr-1{
    margin-right: 10px;
}

.circle{
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
}

.__pc{
    background-color:#3b020d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .__pokedex{
        width: 350px;
        height: 450px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:flex-end;
        transition:ease-in-out 0.3s;
        &:hover {
            transform: scale(1.01);
        }
    }

    .__pc-1{
        width: 85%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: #dd082f !important;
        .ca{
            width: 100%;
            height: 15%;
            background-color:transparent !important;
            display:flex;
            justify-content:center;
            align-items:center;
            .ca-c{
                width: 90%;
                height: 80%;
                display:flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content:flex-start;


                .c-1{
                    width:50px;
                    height:50px;
                    background-color:#01fbfb !important;
                }
                .c-2{
                    width:20px;
                    height:20px;
                    background-color:#dd082f !important;
                }
                .c-3{
                    width:20px;
                    height:20px;
                    background-color:#ffcc02 !important;
                }
                .c-4{
                    width:20px;
                    height:20px;
                    background-color:#2ff901 !important;
                }
            }
        }
        .cb{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .sc-1{
                width: 90%;
                height: 90%;
                background-color: #b0b0b0;
                border-radius: 10px 10px 0px 0px;
                overflow: hidden;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                .sc-2{
                    width: 90%;
                    height: 90%;
                    background-color: white;
                    border-radius:5px;
                    overflow: hidden;
                    border: 1px solid black;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .err{
                        position: absolute;
                        transform: translate(50%, -350%);
                    }
                }
            }
        }
        .cc{
            width: 100%;
            height: 15%;
            background-color:transparent !important;
            display:flex;
            justify-content:center;
            align-items:center;
            .cc-c{
                width: 90%;
                height: 80%;
                display:flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content:flex-start;

                .c-1{
                    width:40px;
                    height:40px;
                    background-color:#519afb !important;
                }
                .rec{
                    width: 80px;
                    height: 20px;
                    border-radius: 10px;
                    border: 1px solid black;
                    box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
                }
                .r-1{
                    background-color:#2ff901 !important;
                }
                .r-2{
                    background-color:#ffcc02 !important;
                }
                
            }
        }
        .cd{
            width: 100%;
            height: 20%;
            background-color:transparent !important;
            display:flex;
            justify-content:center;
            align-items:center;
            .cd-c{
                width: 90%;
                height: 80%;
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content:space-around;
                .in-s{
                    background-color:#ffcc02 !important;
                    border-radius: 10px;
                    border: 1px solid black;
                    width: 80%;
                    height: 40px;
                    color:black !important;
                    font-size: 23px;
                    font-weight: 300;
                    &::placeholder{
                        color: rgb(100, 100, 100);
                        font-weight: 100 !important;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .btn-s{
                    width: 40px;
                    height: 40px;
                    background-color: #ee5858;
                    cursor: pointer;
                    &:hover{
                        background-color: #e79c9c;
                    }
                }
            }
        }
    }

    .__pc-2{
        background-color: #dd082f;
        width: 7%;
        height: 90%;
    }
}