<div class="__pc">
    <div class="__pokedex">
        <div class="__pc-1">
            <div class="ca">
                <div class="ca-c">
                    <div class="circle c-1 mr-1">
    
                    </div>
                    <div class="circle c-2 mr-1">
    
                    </div>
                    <div class="circle c-3 mr-1">
    
                    </div>
                    <div class="circle c-4 mr-1">
                        
                    </div>
                </div>
            </div>
            <div class="cb">
                <div class="sc-1">
                    <div class="sc-2" *ngIf="pokemon">
                        <app-poke
                            [pokemon]='pokemon'
                        ></app-poke>
                    </div>
                    <div class="sc-2" *ngIf="!pokemon">
                        <img src="assets/noise.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="cc">
                <div class="cc-c">
                    <div class="circle c-1 mr-1">
    
                    </div>
                    <div class="rec r-1 mr-1">
    
                    </div>
                    <div class="rec r-2 mr-1">
    
                    </div>
                </div>
            </div>
            <div class="cd">
                <form class="cd-c" #pokeForm="ngForm" (ngSubmit)="searchPoke(pokeForm)">
                    <input type="text" class="in-s" name="pokename" [(ngModel)]="pokename"  placeholder="Ingresa un nombre..." required/>
                    <button type="submit" class="circle btn-s"></button>
                </form>
            </div>
        </div>
        <div class="__pc-2">

        </div>
    </div>
</div>