<div class="screen">
    <div class="pokename">
        <h2>{{pokemon.name}}</h2>
    </div>
    <div class="pokedatail">
        <div class="poke-img">
            <img src={{pokemon.sprites.front_default}} alt="">
        </div>
        <div class="poke-data">
            <ul>
                <li>
                    <strong>HP:</strong> 35
                </li>
                <li>
                    <strong>Ata:</strong> 55
                </li>
                <li>
                    <strong>Def:</strong> 40
                </li>
                <li>
                    <strong>Ata especial:</strong> 50
                </li>
                <li>
                    <strong>Def especial:</strong> 50
                </li>
                <li>
                    <strong>Vel:</strong> 90
                </li>
            </ul>
        </div>
    </div>
</div>